* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y proximity;
}

/*Burger Menu*/
#nav-container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-3em;
  }
  
  /*toggle-icon*/
  .toggle-icon {
    display: block;
    position: relative;
    width: 100%;
    margin: -2.2em auto 0 0.2em;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
  }
  
  .toggle-icon .bar {
    display: block;
    width: 3.8em;
    height: 0.2em;
    margin: 0.9em;
    border-right: 2.8em solid #fff;
    border-left: 0.6em solid #d6d6d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
  }
    .toggle-icon .bar:nth-of-type(1) {
      -webkit-transition: opacity 300ms;
      -moz-transition: opacity 300ms;
      transition: opacity 300ms;
    }
    .toggle-icon .bar:nth-of-type(2) {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  
  /*pushed*/
  .pushed .toggle-icon {
    margin: -3.2em 0 0 0.7em;
  }
  
    .pushed .bar:nth-of-type(1) {
      opacity: 0;
    }
  
    .pushed .bar:nth-of-type(2) {
      margin-left: 1.4em;
      -webkit-transform: rotate(-137deg) translateY(-1.5em);
      -moz-transform: rotate(-137deg) translateY(-1.5em);
      -ms-transform: rotate(-137deg) translateY(-1.5em);
      -o-transform: rotate(-137deg) translateY(-1.5em);
      transform: rotate(-137deg) translateY(-1.5em);
    }
  
    .pushed .bar:nth-of-type(3) {
      margin-left: 0.5em;
      -webkit-transform: rotate(-42deg);
      -moz-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
      -o-transform: rotate(-42deg);
      transform: rotate(-42deg);
    }
  
  
  .pushed .toggle-icon:hover .bar:nth-of-type(2) {
    border-right-color: #e9b8b9;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
  }
  .pushed .toggle-icon:hover .bar:nth-of-type(3) {
    border-right-color: #ddf1da;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(83,228,68,0.65);
  }

/* Fin burger Menu*/
body>header>img{
    position: fixed;
    width : 50vh;
    margin-left: 1.5vh;
    margin-top: 1.5vh;
}

body>nav:nth-of-type(1){
    position: fixed;
    top: 8%;
    left : 96%;
    display: flex;
    flex-direction: column;
}

body>nav:nth-of-type(2){
    position: fixed;
    top: 75%;
    left : 96%;
    display: flex;
    flex-direction: column;
}

body>nav>a{
    color: white;
}

body>nav>a>svg{
    width: 30px;
    height: 30px; 
    margin-bottom: 15px; 
}

/* Dimensionner les diapos et leur contenu */
/* Ajouter un fond unique, couvrant l'écran */
/* Fixer le fond, et hop ! */
section {
    /*line-height: 100vh;*/
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  
section:nth-of-type(1) {
    /* On peut aussi mettre un gif animé ou un webp animé... */
    background-image: url('../medias/images/dune-timothee-chalamet.jpg');
}

section:nth-of-type(2) {
    background-image: url('../medias/images/dune-sharon-duncan-brewster.jpeg');
}

section:nth-of-type(3) {
    background-image: url('../medias/images/dune-cast-scaled.jpeg');
}

section:nth-of-type(4) {
    background-image: url('../medias/images/dune-production_01.jpg');
}

section:nth-of-type(5) {
    background-image: url('../medias/images/dune-timothee-chalamet-rebecca-ferguson.jpeg');
}

section:nth-of-type(6) {
    background-image: url('../medias/poster/dune_poster_vierge.png');
}

section {
    scroll-snap-align: start;
}

/* Premier Slide */
body>main>section:nth-of-type(1)>div {
    position: relative;
    width: 50vw;
    height: calc(50vw * 390 / 640);
    margin: auto;
}

@font-face {
    font-family: "Dune";
    src: url("../fonts/DINNextLTPro-Light.ttf") format("truetype");
    /* Autres propriétés de police */
}

body>main>section:nth-of-type(1)>div>h1{
    color: white;
    padding-top: 25vh;
    padding-right: 30vw;
    font-family: "Dune";
}

#video {
    width: 40vw;
    height: calc(40vw * 390 / 640);
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
}
  
.scroll {
    position: fixed !important;
    width: 30vw !important;
    height: calc(30vw * 3 / 4) !important;
    top: 5vh !important;
    right: 5% !important;
}

/* Deuxieme Slide */
body>main>section:nth-of-type(2)>div>div{
    background-color: rgba(211,211,211, 0.5);
    height: 30vh;
    margin-top: 2vh;
    width: 100vw;
}

body>main>section:nth-of-type(2)>div>h2{
    padding-top: 60vh;
    padding-left: 9vw;
    color: white;
}

body>main>section:nth-of-type(2)>div>div>p{
    color: white;
    columns: 3;
    padding-top: 8vh;
    padding-left: 9vw;
    padding-right: 9vw;
}

body>main>section:nth-of-type(2)>div>img{
    position: absolute;
    width: 40vw;
    top: 120%;
    left: 50%;
}


/* 3e slide */

body>main>section:nth-of-type(3)>div>h2{
    margin-left: 10vw;
    padding-top: 60vh;
    color: white;
}

body>main>section:nth-of-type(3)>div>div>p{
    margin-left: 10vw;
    color: white;
    display: none;
}

body>main>section:nth-of-type(3)>div>div>p.display{
    display: initial;
}

body>main>section:nth-of-type(3)>div>div{
    background-color: rgba(211,211,211, 0.5);
    height: 30vh;
    padding-top: 2vh;
    width: 100vw;
}

  main>section:nth-of-type(3)>div>div>img {
    width: 30vw;
    height: 70vh;
    object-fit: cover;
    display: none;
    position: absolute;
    left : 50%;
    top : 220%;
  }
  
  main>section:nth-of-type(3)>div>div>img.display {
    display: initial;
  }
  
  main>section:nth-of-type(3)>div>p:nth-of-type(1) {
    font-size: 10vmin;
    color: white;
    padding: 1vmin;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    position: absolute;
    top: 250%;
  }

  main>section:nth-of-type(3)>div>p:nth-of-type(2) {
    font-size: 10vmin;
    color: white;
    padding: 1vmin;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    position: absolute;
    top: 250%;
    left: 96%;
  }
  
  /*4e slide */

  body>main>section:nth-of-type(4)>div>h2{
    margin-left: 10vw;
    padding-top: 20vh;
    color: white;
}

  body>main>section:nth-of-type(4)>div>div{
    background-color: rgba(211,211,211, 0.5);
    height: 70vh;
    padding-top: 2vh;
    width: 100vw;
}

  main>section:nth-of-type(4)>div>div>img {
    width: 60vw;
    height: 60vh;
    object-fit: cover;
    display: none;
    position: absolute;
    left : 20%;
    top : 337%;
  }

  main>section:nth-of-type(4)>div>div>img.display {
    display: initial;
  }

  main>section:nth-of-type(4)>div>p:nth-of-type(2) {
    font-size: 10vmin;
    color: white;
    padding: 1vmin;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    position: absolute;
    top: 360%;
    left: 96%;
  }

  main>section:nth-of-type(4)>div>p:nth-of-type(1) {
    font-size: 10vmin;
    color: white;
    padding: 1vmin;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    position: absolute;
    top: 360%;
  }

/* 5e slides*/
body>main>section:nth-of-type(5)>div>h2{
    margin-left: 10vw;
    padding-top: 45vh;
    color: white;
}

body>main>section:nth-of-type(5)>div>button{
  position: absolute;
  top: 465%;
  left : 13%;
}

body>main>section:nth-of-type(5)>div>p{
  position: absolute;
  top: 475%;
  left : 8%;
  color: white;
}
/* Carte */
/* Dimensionner la carte */
#carte {
    width: 50vw;
    height: 50vh;
    margin-left: 40vw;
    margin-top: -15vh;
    }
  
body>main>section:nth-of-type(5)>div>div{
    background-color: rgba(211,211,211, 0.5);
    height: 45vh;
    padding-top: 2vh;
    width: 100vw;
}


  
  